# **1.Client File Analysis**

In [1]:
import pandas as pd
df=pd.read_csv('/content/clientinput.csv')
df

   area  bedroom  age
0  1000      1.0    1
1  1500      1.0    5
2  3500      2.0    1
3  2000      NaN   10
4  3000      3.0   10
5  4000      3.0    8

In [2]:
import math
bedroommedian=math.floor(df['bedroom'].median())
bedroommedian

2

In [3]:
df['bedroom']=df['bedroom'].fillna(bedroommedian)
df

   area  bedroom  age
0  1000      1.0    1
1  1500      1.0    5
2  3500      2.0    1
3  2000      2.0   10
4  3000      3.0   10
5  4000      3.0    8

## **2.Activate the ML model**

In [4]:
import pickle
with open('/content/housepricemodel','rb')as f:
  reg=pickle.load(f)

# **3.Predict the data**

In [5]:
reg.predict(df)

array([2093020.40297215, 2604960.63412101, 7528708.98789274,
       2323167.60961526, 4126052.25261446, 6897418.75530786])

In [6]:
pricedf=reg.predict(df)

In [7]:
df['price']=pricedf
df

   area  bedroom  age         price
0  1000      1.0    1  2.093020e+06
1  1500      1.0    5  2.604961e+06
2  3500      2.0    1  7.528709e+06
3  2000      2.0   10  2.323168e+06
4  3000      3.0   10  4.126052e+06
5  4000      3.0    8  6.897419e+06

In [8]:
df.to_csv('Predicted price.csv',index=False)