
# **Problem Statement:**

A Client is looking for a website which will show the price of houses based on the area, the number of bedrooms and how old the house is but he could not find the best one. Can you develop an ML model for the given dataset and create the Model.

---

# **Understanding the Business Problem and Client requirement**
The clients need to predict the prices of the house.

---

# **Data Collection**

The Dataset used here is our own Dataset

---

# **Import the required libraries**

In [1]:
import pandas as pd

# **Upload the file into a dataframe**

In [2]:
df = pd.read_csv('/content/housepricedata.csv')
print(df)

    area  bedroom  age     price
0   1000        1    3   2500000
1   1600        2    1   3500000
2   2200        2    2   4000000
3   2600        3    4   4500000
4   3600        3    5   5700000
5   4200        4    2   7000000
6   4500        4    3   8500000
7   2700        2    1   5000000
8   1800        1    1   3800000
9   3300        3    3   5000000
10  2950        3    2   5350000
11  5200        4    3  12200000
12  3700        3    2   6500000
13  1450        2    1   3000000
14  1250        1    1   2800000

---

# **Data Analysis**

># **Preparing X and y**

In [3]:
X=df.drop('price',axis=1)
X

    area  bedroom  age
0   1000        1    3
1   1600        2    1
2   2200        2    2
3   2600        3    4
4   3600        3    5
5   4200        4    2
6   4500        4    3
7   2700        2    1
8   1800        1    1
9   3300        3    3
10  2950        3    2
11  5200        4    3
12  3700        3    2
13  1450        2    1
14  1250        1    1

In [4]:
y=df['price']
y

0      2500000
1      3500000
2      4000000
3      4500000
4      5700000
5      7000000
6      8500000
7      5000000
8      3800000
9      5000000
10     5350000
11    12200000
12     6500000
13     3000000
14     2800000
Name: price, dtype: int64

---

# **ML Model**

In [5]:
from sklearn import linear_model

In [6]:
reg=linear_model.LinearRegression()

In [7]:
reg.fit(X,y)

LinearRegression()

In [8]:
area=int(input('Enter the sq.ft of the house - '))
bedroom=int(input('Enter the number of bedroom in the house - '))
age=int(input('Enter the age of the house - '))
price=reg.predict([[area,bedroom,age]])
print('The price of the house - ',price)

Enter the sq.ft of the house - 3100
Enter the number of bedroom in the house - 2
Enter the age of the house - 1
The price of the house -  [6559961.27004704]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [9]:
reg.score(X,y)

0.8981252548041194

In [10]:
m=reg.coef_
m

array([   2421.86929461, -618984.65161505, -174748.60403957])

In [11]:
m1=1664.86842772
m2=-141049.53607463
m3=-155905.28824215

In [12]:
b=reg.intercept_
b

464884.364012504

In [13]:
y=(m1*2300)+(m2*3)+(m3*4)+b
y

3247311.986576014

---

# **Download the model using pickle**

In [14]:
import pickle
with open('housepricemodel','wb') as f:
  pickle.dump(reg,f)